@import "../../styles/variables.scss";


footer:has(.footer-upper) {
  background: $color-bg-secondary;
}
footer {
  color: #f2f2f2;
  padding-top: 96px;
  border-top-left-radius: 7%;

  .footer-upper {
    padding-bottom: 117px;
    .container {
      max-width: 940px;
      margin: 0 auto;
    }

    .client-header {
      text-align: left;
      display: flex;
      column-gap: 97px;
      margin-bottom: 111px;

      h2 {
        font-size: $font-size-title;
        font-weight: 500;
        max-width: 223px;
      }

      p {
        font-size: 1rem;
        opacity: $opacity-muted;
        max-width: 500px;
        letter-spacing: 1px;
      }
    }

    .logo-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2px;

      .logo-item {
        font-weight: 600;
        width: 235px;
        height: 128px;
        text-align: center;
        font-size: $font-size-heading;
        border-left: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        transition: background-color 0.3s ease;
        align-content: center;
        text-align: center;
        button {
          font-size: $font-size-heading;
          color: #f2f2f2;
          align-content: center;
          text-align: center;
          font-weight: 600;
        }
        &:nth-child(4n + 1) {
          border-left: none;
        }

        &:nth-child(n + 5) {
          border-bottom: none;
        }

        &:last-child {
          background-color: rgba($color-bg-dark, 0.3);
        }

        &:last-child:hover {
          cursor: pointer;
          background-color: rgba($color-bg-dark, 1);
        }

        button {
          background: none;
          border: none;
          font-weight: 500;
          cursor: pointer;
          padding: 0;
        }
      }
    }
  }

  .footer-main {
    margin-right: 96px;
    background: #2c5aa0;
    position: relative;
    border-top-right-radius: 25%;
    .cta-content {
      position: relative;
      padding: 91px 0 193px 0;
      margin-left: 2.5vw;
      margin-right: 7vw;

      .content-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
      }

      .cta-text {
        flex: 1;
        max-width: 600px;

        h2 {
          max-width: 317px;
          font-size: $font-size-title;
          font-weight: 500;
          margin-bottom: 32px;
        }

        p {
          font-size: $font-size-body;
          width: 405px;
          opacity: $opacity-muted;
        }
      }
    }

    .cta-content::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid #fff;
      width: 164%;
      height: 100%;
      left: -64%;
      top: -21%;
      z-index: -1;
    }

    .footer-content {
      .container {
        margin: 0 auto;
      }

      .footer-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 77px;
        margin-left: 2.5vw;
        max-width: 673px;
        padding-bottom: 64px;
        & > div {
          display: flex;
          flex-direction: column;
          row-gap: 32px;
          justify-content: flex-start;
        }
        .company-info {
          margin-right: 33px;
          .logo {
            display: flex;
            align-items: center;
            column-gap: 15px;
            margin-bottom: 9;
            font-size: 1.2rem;
            font-weight: 600;

            span {
              color: #fff;
            }
          }

          p {
            display: flex;
            column-gap: 16px;
          }

          .info-list {
            display: flex;

            flex-direction: column;
            row-gap: 23px;
          }
        }

        .footer-column {
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            row-gap: 16px;

            li {
              margin-bottom: 12px;

              a {
                color: white;
                text-decoration: none;
                font-size: 0.95rem;
                opacity: 0.8;
                transition: opacity 0.3s ease;

                &:hover {
                  opacity: 1;
                }
              }
            }
          }
        }

        span.copyright {
          opacity: $opacity-muted;
        }
      }
    }
  }

  @media (max-width: $breakpoint-md-max) {
    .client-header {
      row-gap: 40px;
      margin: 0 !important;
      flex-direction: column;
    }
    .footer-upper {
      .logo-grid {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
      }
    }

    .footer-main {
      margin-right: 0;
      border-top-right-radius: 0;
      .cta-content {
         .content-container {
            justify-content: center;
          }
        .container {
          flex-direction: column;
          text-align: center;

         
        }
      }

      .footer-content {
        .footer-grid {
          grid-template-columns: 1fr;
          gap: 40px;
          text-align: center;
        }
      }
    }
  }
}
